# Python  
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Виртуальные окружения  
.venv/
venv/
env/

# Тесты и покрытие  
.pytest_cache/
.coverage  
htmlcov/
.tox/

# Редакторы и ОС  
.idea/
.vscode/
*.swp  
.DS_Store

# Логи  
*.log  
